<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lawn Lovers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BA245191C129D7C003C07AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA2452D1C129D7D003C07AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA245381C129D7D003C07AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
